<div class="row">
  <div class="col-lg-12">

    <button nbButton [status]="'primary'" routerLink="add" class="btn2">
      Add Product
    </button>
    <!-- <table class="t2">
      <tr>
        <th>Name</th><th>Price</th><th>SKU</th>
      </tr>
      <tr *ngFor="let item of list">
        <td>{{item.name}}</td>
        <td>{{item.price|currency:''}}</td>
        <td>{{iutem.sku}}</td>
      </tr>

    </table> -->

    <ng2-smart-table [settings]="settings" [source]="source" (edit)="onEdit($event)" (delete)="onDelete($event)">
    </ng2-smart-table>

    </div>
  </div>